body {
    background-color: #eee;
<<<<<<< HEAD
}


/*start page */

.body{
    overflow: hidden;
}

body{

    background-image: url(../img/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.button{
    display: flex;
    margin-top: 20px;
    margin-right: 67px;
    justify-content: flex-end;
}

.footer{
    position:absolute;
    bottom: 0px;
    width: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    background-color:#eeeeee;
}

p{
    text-align: center;
    color:gray;
  
}
  
=======
    height: 100vh;
}

svg{
    width: 20px;
    height: 20px;
    fill: white;
}
>>>>>>> 2b4058ed30c784e497de7de87895525dc9964624
