.timesheet {
    overflow: hidden;
    background-color: rgb(168, 168, 168);
}

.diasDaSemana {
    float: left;
    width: calc(100% / 7);
    height: 15%;
    padding: 2%;
    border: 1px black solid;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.7rem;
}

.coluna {
    float: left;
    width: calc(100% / 7);
    height: 15%;
    padding: 2%;
    border: 1px black solid;
    box-sizing: border-box;
    text-align: center;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}